<nav>
    <div class="site-title">
        <a href="/envelopes">
            <h1>Envelopes</h1>
        </a>
        <p>For budgeting made easy</p>
    </div>

    <ul>

        <li><a href="/envelopes">Envelopes</a></li>
        <li><a href="/about">About us</a></li>

    </ul>
</nav>