<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

    <body>

        <%- include('./includes/nav.ejs') %>

            <div class="page-not-found content">
                Sorry, your page was not found. Check your url address.
            </div>
            <%- include('./includes/footer.ejs') %>
    </body>

</html>