<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

    <body>

        <%- include('./includes/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>This app is made for you. It is meant to keep you in control of your money at all times.</p>

                <h2>Video Tutorial</h2>
                <p>Future Video Link</p>
            </div>
            <%- include('./includes/footer.ejs') %>
    </body>

</html>