<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

    <body>

        <%- include('./includes/nav.ejs') %>

            <a class="single" href="/envelopes">
                <div class="wrapper">
                    <div class="empty-lid one"></div>
                    <div class="empty-envelope"></div>
                </div>

                <div class="headings">

                    <h1 class="inline">Login to view envelopes</h1>

                </div>
            </a>




            <%- include('./includes/footer.ejs') %>
    </body>

</html>