<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>

    <nav>
        <div class="site-title">
            <a href="/">
                <h1>Envelopes</h1>
            </a>
            <p>For budgeting made easy</p>
        </div>
        <ul>
            <li><a href="/">Envelopes</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/about">About us</a></li>
        </ul>
    </nav>

    <div class="signup content">
        <h2>Sign Up</h2>
    </div>

</body>

</html>