<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>

    <body>

        <%- include('../includes/nav.ejs') %>

            <div class="add-envelope content">
                <form action="/envelopes" method="POST">
                    <label for="category">Category Name:</label>
                    <input type="text" id="category" name="category" required>
                    <label for="budgeted">Amount Budgeted</label>
                    <input type="number" id="budgeted" name="budgeted" required>
                    <label for="balance">Amount Remaining</label>
                    <input type="number" id="balance" name="balance" required>
                    <button class="btn-primary btn-lg">Create<div class="wrapper-button">
                        <div class="lid one-button"></div>
                        
                        <div class="envelope-button"></div>
                        
                    </div></button>
                </form>
            </div>
            <%- include('../includes/footer.ejs') %>
    </body>

</html>