<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>

    <body>

        <%- include('../includes/nav.ejs') %>

            <div class="add-envelope content">
                <h1>Add Funds</h1>
                <h5>How much money total will you be adding to envelopes?</h5>
                <form action="/envelopes/add-funds" method="POST">
                    <label for="total">Total Income:</label>
                    <input type="number" id="total" name="total" required>
                    <button class="btn-primary btn-lg">Add to<div class="wrapper-button">
                        <div class="lid one-button"></div>
                        <div class="envelope-button"></div>  
                    </div></button>
                </form>
            </div>
            <%- include('../includes/footer.ejs') %>
    </body>

</html>